[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
mysqlclient = "*"
social-auth-app-django = "*"

[dev-packages]
graphviz = "*"

[requires]
python_version = "3.11"
