{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    {% block headTitle %}<title>Sign In</title> {% endblock %}
  </head>
  <body>
  {% block body %}
      <br>
   <div class="container">
        <h3>Password reset sent</h3><br>
       <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
       <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder..</p><br>
    </div>
  {% endblock %}
  </body>
</html>