{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    {% block headTitle %}<title>Sign In</title> {% endblock %}
  </head>
  <body>
  {% block body %}
   <div class="container">
        <h3>Password Reset Complete</h3>
       <p>Your password has been set. You may go ahead and log in now.</p><br>
        <div class="list-group">
        <a href="/MyAccount/SignIn/" class="list-group-item list-group-item-action active col-md-2">
            Sign In
        </a>
        </div>
  {% endblock %}
  </body>
</html>