{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block headTitle %}
    <title>W3Dev</title>
    {% endblock %}
  </head>
</head>
<body>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Navigation Bar/ Top Bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">W3DEV</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item">
                <a class="nav-link" href="{% url 'viewpost' %}">MyPost</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'view_profile' %}">Profile</a>
                      <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                      <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                      {% else %}
                      <a class="dropdown-item" href="{% url 'password_reset' %}">Forgot Password</a>
                      {% endif %}
                  </div>
              </li>
            </ul>
            {% if user.is_authenticated %}
            <div class="list-inline my-2 my-lg-0">
                <a href="{% url 'getpost' %}" class="btn btn-outline-warning ml-2 mr-2 my-2 my-sm-0">Write your Post </a>
                <a href="{% url 'SignOut' %}" class="btn btn-outline-success ml-2 mr-2 my-2 my-sm-0">Sign Out</a>
            </div>
            {% else %}
                <div class="list-inline my-2 my-lg-0">
                <a href="{% url 'SignUp' %}" class="btn btn-outline-info my-2 my-sm-0">Create An Account</a>
                <a href="{% url 'getpost' %}" class="btn btn-outline-warning ml-2 mr-2 my-2 my-sm-0">Write your Post </a>
                <a href="{% url 'SignIn' %}" class="btn btn-outline-success ml-2 mr-2 my-2 my-sm-0">Sign In</a>
            </div>
            {% endif %}
        </div>
    </nav>
{% block body %}
{% endblock %}
</body>
<footer>
    <div class="container-fluid bg-light">

    </div>
</footer>
</html>